html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    script(type='text/javascript', src= env == "prod" ? "/js/popup.bundle.js" : "https://localhost:3000/js/popup.bundle.js")
  body
    .container
      ul.nav.nav-tabs
        li.active
          a(href='#') games

        li
          a(href='#') profile

        li
          a(href='http://wddx.ru', target='_blank') wddx.ru

      .row
        .col-xs-12
          #opened_games
      .row
        .col-xs-12
          #started_games
