html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    script(src=settings.popupJsUrl)
  body
    .container
      ul.nav.nav-tabs
        li.active
          a(href='#') games

        li
          a(href= settings.host, target='_blank') hexlet.io

      .row
        .col-xs-12
          #opened_games
      .row
        .col-xs-12
          #started_games
