.main_div {
  width: 300px;
}
.game_div {
  font-size: 13;
}
h5 {
  margin: 0;
}

a {
  text-decoration: none;
  outline: 0px;
  color: #428bca;
}

.game_passed_link {
  text-decoration: line-through;
  outline: 0px;
}

span.join-lang {
    margin-left: 6px
}

