.main_div {
  width: 300px;
}

a:focus {
  outline: 0px;
  text-decoration: none;
  color: #428bca;
}

.game_passed_link {
  text-decoration: line-through;
  outline: 0px;
}

span.join-lang {
    margin-left: 6px
}

